# ===============================================
# Android Studio & Gradle
# ===============================================
*.iml
.gradle/
/local.properties
/build/
.DS_Store
/captures/
.externalNativeBuild/
.cxx/

# ===============================================
# IDE (IntelliJ, Android Studio)
# ===============================================
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# ===============================================
# 보안: 키 및 서비스 설정 파일 (매우 중요)
# ===============================================
*.jks
*.keystore
google-services.json

# ===============================================
# Firebase (추천)
# ===============================================
crashlytics.properties
crashlytics-build.properties
crashlytics-output.jar

# ===============================================
# 기타 (추천)
# ===============================================
*.log